* {
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  width: 70px;
  border: 2px solid;
  opacity: 1;
}

.colorsea {
  background-color: #1abc9c;
}

.no-adaptive {
  height: 100px;
  background-color: #2c3e50;
}

/* HEADER - jumbo */
#jumbo .col img {
  width: 50%;
  max-width: 250px;
}

/* MAIN - portfolio section */
#gallery img {
  width: 100%;
  border-radius: 12px;
}

.img_container {
  position: relative;
}

.ms_layover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  background-color: rgba(25, 188, 156, .6);
  border-radius: 12px;
  font-size: 4rem;
  opacity: 0;
}

#gallery .img_container:hover .ms_layover {
  opacity: 1;
}

/* FOOTER - info section */
#info {
  background-color: #3a546d;
}

#social i {
  width: 60px;
  margin: 0.3rem;
}
