* {
  font-family: Arial, Helvetica, sans-serif;
}

/* 00000000 HEADER 00000000 */

/* HEADER - navbar */
nav.navbar {
  background-color: #2c3e50;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

nav.navbar .container-fluid {
  padding-left: 20px;
  padding-right: 20px;
}

nav.navbar a.navbar-brand {
  font-size: 1.3rem;
  font-weight: 900;
  color: white;
} 

.navbar-light .navbar-toggler {
  padding: .30rem .65rem;
  border-color: lightgrey;
}

.navbar-toggler-icon {
  filter: invert(1);
}

nav.navbar .offcanvas-body a.nav-link {
  color: white;
}

/* HEADER - jumbo */
.debug #jumbo {
  height: 500px;
  background-color: #1abc9c;
  margin-top: 89px;
}

#jumbo .container {
  max-width: 540px;
  height: 100%;
  background-color: green;
}

/* 00000000 MAIN 00000000 */

/* MAIN - portfolio section */
#portfolio {
  max-width: 960px;
}

.debug #portfolio-header {
  min-height: 160px;
  background-color: lightpink;
}

.debug .row div img {
  width: 100%;
}

/* MAIN - about section */
#about {
  background-color: #1abc9c;
}

#about .container {
  width: 70%;
  max-width: 800px;
}

.debug #about-header {
  height: 150px;
  background-color: lightcoral;
}

.debug .ms_text {
  height: 200px;
  background-color: lightskyblue;
}

.debug #download {
  height: 100px;
  background-color: darkorange;
}

/* 00000000 FOOTER 00000000 */

/* FOOTER - contact section */
.debug #contact-header {
  height: 150px;
  background-color: darkred;
}

.debug #contact-main {
  height: 500px;
  background-color: darkturquoise;
}

/* FOOTER - info section */
.debug #info {
  background-color: #3a546d;
}

.debug #info .info-item {
  width: 90%;
  height: 150px;
  background-color: deeppink;
  margin: 0 auto;
}

.debug #copyright {
  height: 100px;
  background-color: #2c3e50;
}